Repository hmcts/darts-gateway, pull requests merged in 2023-06, with the labels that each got.

#44 Adding AddDocument SOAP endpoint and mapping to DARTS-API
  build.gradle
  config/owasp/suppressions.xml
  config/pmd/ruleset.xml
  src/integrationTest/java/uk/gov/hmcts/darts/common/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/SoapEndpointTest.java
  src/integrationTest/resources/application-int-test.yaml
  src/integrationTest/resources/payloads/invalidEvent.xml
  src/integrationTest/resources/payloads/invalidSoapMessage.xml
  src/integrationTest/resources/payloads/validEvent.xml
  src/main/java/uk/gov/hmcts/darts/Application.java
  src/main/java/uk/gov/hmcts/darts/config/AppConfig.java
  src/main/java/uk/gov/hmcts/darts/config/FeignConfig.java
  src/main/java/uk/gov/hmcts/darts/config/SoapWebServiceConfig.java
  src/main/java/uk/gov/hmcts/darts/dailylist/DailyListRoute.java
  src/main/java/uk/gov/hmcts/darts/events/EventApiClient.java
  src/main/java/uk/gov/hmcts/darts/events/EventRequest.java
  src/main/java/uk/gov/hmcts/darts/events/EventResponse.java
  src/main/java/uk/gov/hmcts/darts/events/EventRoute.java
  src/main/java/uk/gov/hmcts/darts/events/LegacyDartsToNewApiMapper.java
  src/main/java/uk/gov/hmcts/darts/exceptions/DartsValidationException.java
  src/main/java/uk/gov/hmcts/darts/routing/DartsRoutingService.java
  src/main/java/uk/gov/hmcts/darts/utilities/LocalDateTimeTypeAdapter.java
  src/main/java/uk/gov/hmcts/darts/utilities/XmlParser.java
  src/main/java/uk/gov/hmcts/darts/utilities/XmlValidator.java
  src/main/java/uk/gov/hmcts/darts/ws/CodeAndMessage.java
  src/main/java/uk/gov/hmcts/darts/ws/DartsEndpoint.java
  src/main/java/uk/gov/hmcts/darts/ws/DartsException.java
  src/main/java/uk/gov/hmcts/darts/ws/DartsResponseUtils.java
  src/main/resources/application.yaml
  src/main/resources/ws/dartsService.wsdl
  src/test/java/uk/gov/hmcts/darts/document/XmlParserTest.java
  src/test/java/uk/gov/hmcts/darts/events/LegacyDartsToNewApiMapperTest.java
  src/test/java/uk/gov/hmcts/darts/utilities/XmlValidatorTest.java
  src/test/java/uk/gov/hmcts/darts/ws/DartsResponseUtilsTest.java
  src/test/resources/simple-test-schema.xsd
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-44

#50 DMP-167 Gateway - Notify DAR PC SOAP message
  build.gradle
  charts/darts-gateway/Chart.yaml
  charts/darts-gateway/values.yaml
  config/checkstyle/checkstyle.xml
  config/pmd/ruleset.xml
  src/integrationTest/java/uk/gov/hmcts/darts/common/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/common/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/DarNotifyControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/SoapEndpointTest.java
  src/main/java/uk/gov/hmcts/darts/Application.java
  src/main/java/uk/gov/hmcts/darts/event/client/DarNotifyEventClient.java
  src/main/java/uk/gov/hmcts/darts/event/client/EventApiClient.java
  src/main/java/uk/gov/hmcts/darts/event/config/DarNotifyEventConfiguration.java
  src/main/java/uk/gov/hmcts/darts/event/config/DarNotifyEventConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/event/controller/DarNotifyController.java
  src/main/java/uk/gov/hmcts/darts/event/enums/DarNotifyEventResult.java
  src/main/java/uk/gov/hmcts/darts/event/model/DarNotifyEvent.java
  src/main/java/uk/gov/hmcts/darts/event/model/EventRequest.java
  src/main/java/uk/gov/hmcts/darts/event/model/EventResponse.java
  src/main/java/uk/gov/hmcts/darts/event/service/DarNotifyEventService.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DarNotifyEventServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventRoute.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/LegacyDartsToNewApiMapper.java
  src/main/java/uk/gov/hmcts/darts/routing/DartsRoutingService.java
  src/main/resources/application.yaml
  src/main/resources/schemas/dar-notify-event.xsd
  src/test/java/uk/gov/hmcts/darts/event/client/DarNotifyEventClientTest.java
  src/test/java/uk/gov/hmcts/darts/event/enums/DarNotifyEventResultTest.java
  src/test/java/uk/gov/hmcts/darts/event/service/impl/LegacyDartsToNewApiMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-50

#57 update java version
  .github/workflows/swagger.yml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-57
