Repository hmcts/darts-gateway, pull requests merged in 2023-12, with the labels that each got.

#192 DMP 1639 add audio
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/darts/ws/AddAudioWebServiceTest.java
  src/integrationTest/resources/payloads/addAudio/register/dartsApiResponse.json
  src/integrationTest/resources/payloads/addAudio/register/invalidSoapRequest.xml
  src/main/java/uk/gov/hmcts/darts/addaudio/AddAudioMapper.java
  src/main/java/uk/gov/hmcts/darts/addaudio/AddAudioRoute.java
  src/main/java/uk/gov/hmcts/darts/common/client/AudioClient.java
  src/main/java/uk/gov/hmcts/darts/common/client/AudiosClient.java
  src/main/java/uk/gov/hmcts/darts/common/util/DateConverters.java
  src/main/java/uk/gov/hmcts/darts/ws/DartsEndpoint.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-192

#195 DMP-1638 DARTS Gateway Authentication (ServiceContext)
  .editorconfig
  README-ContextRegistryService-soapui-project.xml
  README-DARTSService-soapui-project.xml
  README.md
  build.gradle
  config/pmd/main-ruleset.xml
  config/pmd/test-ruleset.xml
  context/src/main/resources/ws/README.md
  src/integrationTest/java/uk/gov/hmcts/darts/utils/TestUtils.java
  src/integrationTest/java/uk/gov/hmcts/darts/utils/client/AbstractSoapTestClient.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/AddAudioWebServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/CasesWebServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/CourtLogsWebServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/EventWebServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/RegisterNodeWebServiceTest.java
  src/integrationTest/resources/payloads/soapHeaderServiceContext.xml
  src/main/java/uk/gov/hmcts/darts/authentication/component/FeignRequestInterceptor.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/SoapHeaderConverter.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/SoapRequestInterceptor.java
  src/main/java/uk/gov/hmcts/darts/cache/token/JwtCache.java
  src/main/java/uk/gov/hmcts/darts/config/ContextRegistryCacheConfig.java
  src/main/java/uk/gov/hmcts/darts/config/OauthTokenGenerator.java
  src/main/java/uk/gov/hmcts/darts/config/ServiceConfig.java
  src/main/java/uk/gov/hmcts/darts/config/SoapWebServiceConfig.java
  src/main/java/uk/gov/hmcts/darts/ws/DartsEndpoint.java
  src/test/java/uk/gov/hmcts/darts/authentication/component/FeignRequestInterceptorTest.java
  src/test/java/uk/gov/hmcts/darts/common/client/mapper/APIResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/utilities/TestUtils.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-195

#201 Remove dependency check from ci
  .github/workflows/ci.yml
  buildSrc/build/libs/buildSrc.jar
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-201

#209 Renovate/guava monorepo v2
  build.gradle
  src/main/java/uk/gov/hmcts/darts/dailylist/mapper/DailyListRequestMapper.java
  src/main/java/uk/gov/hmcts/darts/utilities/MapperUtility.java
  src/test/java/uk/gov/hmcts/darts/utilities/assertions/CustomAssertions.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-209

#213 Removing APIM terraform
  infrastructure/apim-policy/api-policy.xml
  infrastructure/apim.tf
  infrastructure/demo.tfvars
  infrastructure/output.tf
  infrastructure/prod.tfvars
  infrastructure/sbox.tfvars
  infrastructure/stg.tfvars
  infrastructure/variables.tf
Labels: ns:darts-modernisation, prd:darts, destroy, rel:darts-gateway-pr-213
