Repository hmcts/darts-gateway, pull requests merged in 2023-09, with the labels that each got.

#109 Dmp 657.add document2
  src/integrationTest/java/uk/gov/hmcts/darts/utils/DailyListApiStub.java
  src/main/java/uk/gov/hmcts/darts/common/client/DartsFeignClient.java
  src/main/java/uk/gov/hmcts/darts/config/FeignConfig.java
  src/main/java/uk/gov/hmcts/darts/dailylist/DailyListRoute.java
  src/main/java/uk/gov/hmcts/darts/dailylist/mapper/DailyListRequestMapper.java
  src/main/java/uk/gov/hmcts/darts/dailylist/mapper/DailyListXmlRequestMapper.java
  src/main/java/uk/gov/hmcts/darts/dailylist/model/PostDailyListRequest.java
  src/main/java/uk/gov/hmcts/darts/ws/DartsEndpoint.java
  src/main/resources/application.yaml
  src/main/resources/openapi/cases.yaml
  src/main/resources/openapi/dailylist.yaml
  src/test/java/uk/gov/hmcts/darts/dailylist/mapper/DailyListRequestMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-109

#120 DMP:817 Fixing connectivity with darts stub services
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/DarNotifyControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/utils/IntegrationBase.java
  src/main/java/uk/gov/hmcts/darts/event/config/DarNotifyEventConfiguration.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-120

#117 DM-947: Consume open api resource
  README.md
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/utils/GetCourtLogsApiStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/CourtLogsWebServiceTest.java
  src/main/java/uk/gov/hmcts/darts/common/client/DartsFeignClient.java
  src/main/java/uk/gov/hmcts/darts/courtlogs/AddCourtLogsMapper.java
  src/main/java/uk/gov/hmcts/darts/courtlogs/AddCourtLogsRoute.java
  src/main/java/uk/gov/hmcts/darts/courtlogs/GetCourtLogsMapper.java
  src/main/resources/openapi/audioRequest.yaml
  src/main/resources/openapi/audit.yaml
  src/main/resources/openapi/cases.yaml
  src/main/resources/openapi/courthouses.yaml
  src/main/resources/openapi/dailylist.yaml
  src/main/resources/openapi/events.yaml
  src/main/resources/openapi/problem.yaml
  src/test/java/uk/gov/hmcts/darts/courtlogs/AddCourtLogsMapperTest.java
  src/test/java/uk/gov/hmcts/darts/courtlogs/GetCourtLogsMapperTest.java
  src/test/java/uk/gov/hmcts/darts/utilities/assertions/CourtLogAssert.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-117

#115 DMP-937: Autogenerate feign api contracts from open api
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/utils/EventApiStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/utils/GetCourtLogsApiStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/CasesWebServiceTest.java
  src/integrationTest/resources/application-int-test.yaml
  src/integrationTest/resources/payloads/addCase/dartsApiResponse.json
  src/main/java/uk/gov/hmcts/darts/cases/impl/CasesRouteImpl.java
  src/main/java/uk/gov/hmcts/darts/common/client/AudioClient.java
  src/main/java/uk/gov/hmcts/darts/common/client/AuditClient.java
  src/main/java/uk/gov/hmcts/darts/common/client/CasesClient.java
  src/main/java/uk/gov/hmcts/darts/common/client/CourtLogsClient.java
  src/main/java/uk/gov/hmcts/darts/common/client/CourthousesClient.java
  src/main/java/uk/gov/hmcts/darts/common/client/DailyListsClient.java
  src/main/java/uk/gov/hmcts/darts/common/client/DartsFeignClient.java
  src/main/java/uk/gov/hmcts/darts/common/client/EventsClient.java
  src/main/java/uk/gov/hmcts/darts/config/FeignConfig.java
  src/main/java/uk/gov/hmcts/darts/config/ServiceConfig.java
  src/main/java/uk/gov/hmcts/darts/courtlogs/AddCourtLogsRoute.java
  src/main/java/uk/gov/hmcts/darts/courtlogs/GetCourtLogRoute.java
  src/main/java/uk/gov/hmcts/darts/dailylist/DailyListRoute.java
  src/main/java/uk/gov/hmcts/darts/dailylist/mapper/DailyListRequestMapper.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventRequestMapper.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventRoute.java
  src/main/java/uk/gov/hmcts/darts/utilities/LocalDateTimeTypeAdapter.java
  src/main/java/uk/gov/hmcts/darts/utilities/LocalDateTypeAdapter.java
  src/main/java/uk/gov/hmcts/darts/utilities/MapperUtility.java
  src/main/java/uk/gov/hmcts/darts/utilities/OffsetDateTimeTypeAdapter.java
  src/main/java/uk/gov/hmcts/darts/utilities/deserializer/LocalDateTimeTypeDeserializer.java
  src/main/java/uk/gov/hmcts/darts/utilities/deserializer/LocalDateTypeDeserializer.java
  src/main/java/uk/gov/hmcts/darts/utilities/deserializer/OffsetDateTimeTypeDeserializer.java
  src/main/java/uk/gov/hmcts/darts/utilities/serializer/LocalDateTimeTypeSerializer.java
  src/main/java/uk/gov/hmcts/darts/utilities/serializer/LocalDateTypeSerializer.java
  src/main/java/uk/gov/hmcts/darts/utilities/serializer/OffsetDateTimeTypeSerializer.java
  src/test/java/uk/gov/hmcts/darts/cases/mapper/GetCasesMapperTest.java
  src/test/java/uk/gov/hmcts/darts/courtlogs/GetCourtLogRouteTest.java
  src/test/java/uk/gov/hmcts/darts/dailylist/mapper/DailyListRequestMapperTest.java
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventRequestMapperTest.java
  src/test/resources/tests/cases/GetCasesMapperTest/mapOk/expectedResponse.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-115

#125 DMP-499: Introduce an error handling layer to ensure response consiste…
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/utils/AddCasesApiStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/utils/DailyListApiStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/utils/GetCasesApiStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/utils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/utils/PostCourtLogsApiStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/CasesWebServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/CourtLogsWebServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/EventWebServiceTest.java
  src/integrationTest/resources/payloads/addCase/problemResponse.json
  src/integrationTest/resources/payloads/courtlogs/problemResponse.json
  src/integrationTest/resources/payloads/events/problemDailyListResponse.json
  src/integrationTest/resources/payloads/getCases/problemResponse.json
  src/main/java/uk/gov/hmcts/darts/cases/CasesRoute.java
  src/main/java/uk/gov/hmcts/darts/cases/impl/CasesRouteImpl.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/GetCasesMapper.java
  src/main/java/uk/gov/hmcts/darts/common/client/exeption/AbstractClientProblemDecoder.java
  src/main/java/uk/gov/hmcts/darts/common/client/exeption/ClientProblemException.java
  src/main/java/uk/gov/hmcts/darts/common/client/exeption/JacksonClientProblemDecoder.java
  src/main/java/uk/gov/hmcts/darts/common/client/exeption/cases/CasesAPIGetCasesException.java
  src/main/java/uk/gov/hmcts/darts/common/client/exeption/cases/CasesAPIPostCaseException.java
  src/main/java/uk/gov/hmcts/darts/common/client/exeption/dailylist/DailyListAPIAddException.java
  src/main/java/uk/gov/hmcts/darts/common/client/exeption/event/EventAPIGetCourtLogExeption.java
  src/main/java/uk/gov/hmcts/darts/common/client/exeption/event/EventAPIPostCourtLogException.java
  src/main/java/uk/gov/hmcts/darts/common/client/exeption/event/EventAPIPostEventException.java
  src/main/java/uk/gov/hmcts/darts/common/client/mapper/APIProblemResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/common/client/mapper/AbstractAPIProblemResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/common/client/mapper/CaseAPIProblemResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/common/client/mapper/DailyListAPIProblemResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/common/client/mapper/EventAPIProblemResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/common/client/mapper/ProblemAndMapping.java
  src/main/java/uk/gov/hmcts/darts/common/client/mapper/ProblemResponseMapping.java
  src/main/java/uk/gov/hmcts/darts/common/client/mapper/ProblemResponseMappingOperation.java
  src/main/java/uk/gov/hmcts/darts/config/EmptyObjectProvider.java
  src/main/java/uk/gov/hmcts/darts/config/OAuthTokenGenerator.java
  src/main/java/uk/gov/hmcts/darts/config/ServiceConfig.java
  src/main/java/uk/gov/hmcts/darts/courtlogs/AddCourtLogsRoute.java
  src/main/java/uk/gov/hmcts/darts/courtlogs/GetCourtLogRoute.java
  src/main/java/uk/gov/hmcts/darts/courtlogs/GetCourtLogsMapper.java
  src/main/java/uk/gov/hmcts/darts/dailylist/DailyListRoute.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventRequestMapper.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventRoute.java
  src/main/java/uk/gov/hmcts/darts/routing/EventRoutingService.java
  src/main/java/uk/gov/hmcts/darts/utilities/MapperUtility.java
  src/main/java/uk/gov/hmcts/darts/ws/CodeAndMessage.java
  src/main/java/uk/gov/hmcts/darts/ws/DartsEndpoint.java
  src/main/java/uk/gov/hmcts/darts/ws/DartsEndpointHandler.java
  src/main/java/uk/gov/hmcts/darts/ws/ResponseFactory.java
  src/test/java/uk/gov/hmcts/darts/cases/mapper/GetCasesMapperTest.java
  src/test/java/uk/gov/hmcts/darts/common/client/mapper/APIResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/common/client/mapper/CaseAPIErrorResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/common/client/mapper/DailyListAPIErrorResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/common/client/mapper/EventAPIErrorResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/common/exception/ClientProblemDecoderTest.java
  src/test/java/uk/gov/hmcts/darts/courtlogs/GetCourtLogsMapperTest.java
  src/test/java/uk/gov/hmcts/darts/ws/DartsEndpointHandlerTest.java
  src/test/resources/tests/cases/GetCasesMapperTest/mapOk/expectedResponse.json
  src/test/resources/tests/client/error/invalidProblemResponse.json
  src/test/resources/tests/client/error/problemResponse.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-125
