Repository hmcts/darts-gateway, pull requests merged in 2023-11, with the labels that each got.

#159 addAudio stub added
  src/integrationTest/java/uk/gov/hmcts/darts/utils/client/DartsGatewayClient.java
  src/integrationTest/java/uk/gov/hmcts/darts/utils/client/DartsGatewayMtomClient.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/AddAudioWebServiceTest.java
  src/integrationTest/resources/payloads/addAudio/expectedResponse.xml
  src/integrationTest/resources/payloads/addAudio/soapRequest.xml
  src/main/java/uk/gov/hmcts/darts/addaudio/AddAudioRoute.java
  src/main/java/uk/gov/hmcts/darts/ws/DartsEndpoint.java
  src/main/java/uk/gov/hmcts/darts/ws/ResponseFactory.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-159

#178 DMP-1297-AddAuthorisationForXHIBITCPP
  README.md
  charts/darts-gateway/Chart.yaml
  charts/darts-gateway/values.dev.template.yaml
  charts/darts-gateway/values.yaml
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-178

#187 dmp 1639 dummy change to run build
  build.gradle
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-187
