Repository hmcts/darts-gateway, pull requests merged in 2023-08, with the labels that each got.

#80 Dmp 464.add cases
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/darts/ws/CasesWebServiceTest.java
  src/integrationTest/resources/tests/cases/CasesApiTest/addCase/dartsApiResponse.json
  src/integrationTest/resources/tests/cases/CasesApiTest/addCase/expectedResponse.xml
  src/integrationTest/resources/tests/cases/CasesApiTest/addCase/invalidSoapRequest.xml
  src/integrationTest/resources/tests/cases/CasesApiTest/addCase/soapRequest.xml
  src/integrationTest/resources/tests/cases/CasesApiTest/handlesGetCases/dartsApiResponse.json
  src/main/java/com/service/mojdarts/synapps/com/AddCase.java
  src/main/java/com/service/mojdarts/synapps/com/ObjectFactory.java
  src/main/java/com/service/mojdarts/synapps/com/addcase/AddCaseResponse.java
  src/main/java/com/service/mojdarts/synapps/com/addcase/Case.java
  src/main/java/com/service/mojdarts/synapps/com/addcase/NewDataSet.java
  src/main/java/uk/gov/hmcts/darts/cases/CasesRoute.java
  src/main/java/uk/gov/hmcts/darts/cases/impl/CasesRouteImpl.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/AddCaseMapper.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/GetCasesMapper.java
  src/main/java/uk/gov/hmcts/darts/common/client/DartsFeignClient.java
  src/main/java/uk/gov/hmcts/darts/config/SoapWebServiceConfig.java
  src/main/java/uk/gov/hmcts/darts/ws/DartsEndpoint.java
  src/main/java/uk/gov/hmcts/darts/ws/DartsResponseUtils.java
  src/main/resources/openapi/cases.yaml
  src/main/resources/schemas/darts-add-case.xsd
  src/test/java/uk/gov/hmcts/darts/cases/impl/CasesRouteImplTest.java
  src/test/java/uk/gov/hmcts/darts/cases/mapper/AddCaseMapperTest.java
  src/test/resources/tests/cases/GetCasesMapperTest/mapOk/dartsApiResponse.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-80

#81 DMP-467: Fixing api integration
  Dockerfile
  Jenkinsfile_CNP
  Jenkinsfile_parameterized
  charts/darts-gateway/Chart.yaml
  charts/darts-gateway/values.dev.template.yaml
  charts/darts-gateway/values.yaml
  docker-compose.yml
  src/integrationTest/java/uk/gov/hmcts/darts/utils/GetCourtLogsApiStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/CourtLogsWebServiceTest.java
  src/main/java/com/synapps/moj/dfs/response/CourtLog.java
  src/main/java/uk/gov/hmcts/darts/common/client/DartsFeignClient.java
  src/main/java/uk/gov/hmcts/darts/config/FeignConfig.java
  src/main/java/uk/gov/hmcts/darts/courtlogs/GetCourtLogRoute.java
  src/main/java/uk/gov/hmcts/darts/courtlogs/GetCourtLogsMapper.java
  src/main/java/uk/gov/hmcts/darts/event/config/DarNotifyEventConfiguration.java
  src/main/resources/application.yaml
  src/main/resources/openapi/courtLogs.yaml
  src/test/java/uk/gov/hmcts/darts/courtlogs/GetCourtLogRouteTest.java
  src/test/java/uk/gov/hmcts/darts/courtlogs/GetCourtLogsMapperTest.java
  src/test/java/uk/gov/hmcts/darts/utilities/assetions/CourtLogAssert.java
  src/test/java/uk/gov/hmcts/darts/utilities/assetions/CourtLogEntriesAssert.java
  src/test/java/uk/gov/hmcts/darts/utilities/assetions/CustomAssertions.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-81

#83 Removing courtroom as hearing are not added/updated as part of add ca…
  src/main/java/uk/gov/hmcts/darts/cases/mapper/AddCaseMapper.java
  src/main/resources/openapi/cases.yaml
  src/test/java/uk/gov/hmcts/darts/cases/impl/CasesRouteImplTest.java
  src/test/java/uk/gov/hmcts/darts/cases/mapper/AddCaseMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-83

#91 DMP-464: Fixing feign client headers
  src/main/java/uk/gov/hmcts/darts/common/client/DartsFeignClient.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-91

#92 DMP-751: fixing timezone issue
  src/main/java/uk/gov/hmcts/darts/common/util/DateConverters.java
  src/main/java/uk/gov/hmcts/darts/courtlogs/GetCourtLogsMapper.java
  src/test/java/uk/gov/hmcts/darts/common/util/DateConvertersTest.java
  src/test/java/uk/gov/hmcts/darts/courtlogs/GetCourtLogsMapperTest.java
  src/test/java/uk/gov/hmcts/darts/utilities/assertions/CourtLogAssert.java
  src/test/java/uk/gov/hmcts/darts/utilities/assertions/CustomAssertions.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-92

#93 Dmp 466 soap to rest translation for add log entry operation
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/utils/GetCourtLogsApiStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/utils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/utils/PostCourtLogsApiStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/CourtLogsWebServiceTest.java
  src/integrationTest/resources/payloads/courtlogs/valid-post-courtlogs.xml
  src/main/java/com/service/mojdarts/synapps/com/AddLogEntry.java
  src/main/java/com/service/mojdarts/synapps/com/AddLogEntryResponse.java
  src/main/java/com/service/mojdarts/synapps/com/ObjectFactory.java
  src/main/java/generated/uk/gov/hmcts/darts/addlogentry/LogEntry.java
  src/main/java/uk/gov/hmcts/darts/common/client/DartsFeignClient.java
  src/main/java/uk/gov/hmcts/darts/courtlogs/AddCourtLogsMapper.java
  src/main/java/uk/gov/hmcts/darts/courtlogs/AddCourtLogsRoute.java
  src/main/java/uk/gov/hmcts/darts/courtlogs/GetCourtLogsMapper.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventRequestMapper.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventRoute.java
  src/main/java/uk/gov/hmcts/darts/utilities/MapperUtility.java
  src/main/java/uk/gov/hmcts/darts/ws/DartsEndpoint.java
  src/main/resources/openapi/courtLogs.yaml
  src/main/resources/openapi/events.yaml
  src/main/resources/openapi/problem.yaml
  src/main/resources/schemas/addLogEntry.xsd
  src/test/java/uk/gov/hmcts/darts/courtlogs/GetCourtLogsMapperTest.java
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventRequestMapperTest.java
  src/test/java/uk/gov/hmcts/darts/utilities/assertions/CourtLogAssert.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-93

#105 DMP-832 - changed add court logs to now send time with correct offset…
  src/main/java/uk/gov/hmcts/darts/courtlogs/AddCourtLogsMapper.java
  src/main/java/uk/gov/hmcts/darts/utilities/MapperUtility.java
  src/test/java/uk/gov/hmcts/darts/courtlogs/AddCourtLogsMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-105
