Repository hmcts/darts-gateway, pull requests merged in 2023-10, with the labels that each got.

#132 Dmp 1132 test application xop+xml
  src/integrationTest/java/uk/gov/hmcts/darts/utils/ApplicationContextProvider.java
  src/integrationTest/java/uk/gov/hmcts/darts/utils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/utils/client/ClientProvider.java
  src/integrationTest/java/uk/gov/hmcts/darts/utils/client/DartsGatewayAssertionUtil.java
  src/integrationTest/java/uk/gov/hmcts/darts/utils/client/DartsGatewayClient.java
  src/integrationTest/java/uk/gov/hmcts/darts/utils/client/DartsGatewayMtomClient.java
  src/integrationTest/java/uk/gov/hmcts/darts/utils/client/DartsGatewayXmlClient.java
  src/integrationTest/java/uk/gov/hmcts/darts/utils/motm/config/MtomClientConfig.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/CasesWebServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/CourtLogsWebServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/EventWebServiceTest.java
  src/integrationTest/resources/application-int-test.yaml
  src/integrationTest/resources/payloads/addCase/expectedResponse.xml
  src/integrationTest/resources/payloads/events/invalid-dailyList-response.xml
  src/integrationTest/resources/payloads/events/valid-event-response.xml
  src/integrationTest/resources/payloads/getCases/expectedResponse.xml
  src/main/java/uk/gov/hmcts/darts/dailylist/DailyListRoute.java
  src/main/resources/application.yaml
  src/main/resources/schemas/darts-ws-schema2.xsd
  src/main/resources/schemas/darts-ws-schema6.xsd
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-132

#143 Setup appinsights for darts gateway
  Dockerfile
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  charts/darts-gateway/Chart.yaml
  charts/darts-gateway/values.dev.template.yaml
  charts/darts-gateway/values.yaml
  lib/applicationinsights.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-143

#144 DMP 704 register node translation and tests
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/utils/client/DartsGatewayClient.java
  src/integrationTest/java/uk/gov/hmcts/darts/utils/client/DartsGatewayMtomClient.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/RegisterNodeWebServiceTest.java
  src/integrationTest/resources/payloads/registernode/dartsApiResponse.json
  src/integrationTest/resources/payloads/registernode/expectedResponse.xml
  src/integrationTest/resources/payloads/registernode/invalidSoapRequest.xml
  src/integrationTest/resources/payloads/registernode/soapRequest.xml
  src/main/java/uk/gov/hmcts/darts/common/client/RegisterNodeClient.java
  src/main/java/uk/gov/hmcts/darts/config/SoapWebServiceConfig.java
  src/main/java/uk/gov/hmcts/darts/noderegistration/RegisterNodeRoute.java
  src/main/java/uk/gov/hmcts/darts/noderegistration/mapper/RegisterNodeMapper.java
  src/main/java/uk/gov/hmcts/darts/ws/DartsEndpoint.java
  src/main/java/uk/gov/hmcts/darts/ws/ResponseFactory.java
  src/main/resources/application.yaml
  src/main/resources/schemas/darts-register-node.xsd
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-144

#155 DMP-398: Fixing connectivity to darts stub
  build.gradle
  charts/darts-gateway/Chart.yaml
  charts/darts-gateway/values.dev.template.yaml
  charts/darts-gateway/values.yaml
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-gateway-pr-155
