Repository hmcts/darts-gateway, pull requests merged in 2024-09, with the labels that each got.

#513 DMP-3723 - Use configured log setting in DARTS Gateway
  src/main/resources/logback.xml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-513

#515 Dmp 3007.case type
  src/integrationTest/java/uk/gov/hmcts/darts/ws/CasesWebServiceTest.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/AddCaseMapper.java
  src/test/java/uk/gov/hmcts/darts/cases/mapper/AddCaseMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-515

#516 DMP-3314: Add payload log exclusion mechanism
  README-DARTSService-postman-project.json
  docker-compose-local-to-staging.yml
  docker-compose-local.yml
  src/integrationTest/java/uk/gov/hmcts/darts/log/EventWebServiceLoggingTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/MemoryLogAppender.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/AddAudioWebServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/CasesWebServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/CourtLogsWebServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/EventWebServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/RegisterNodeWebServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/token/TokenValidatorTest.java
  src/integrationTest/resources/application-no-payload-log-exclusions.yaml
  src/integrationTest/resources/logback-test.xml
  src/main/java/uk/gov/hmcts/darts/authentication/component/SoapRequestInterceptor.java
  src/main/java/uk/gov/hmcts/darts/log/conf/ExcludePayloadLogging.java
  src/main/java/uk/gov/hmcts/darts/log/conf/LogProperties.java
  src/main/java/uk/gov/hmcts/darts/routing/EventRoutingService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/log/config/LogPropertiesTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-516

#524 DMP-3931: Add cookie header log
  src/main/java/uk/gov/hmcts/darts/authentication/component/SoapRequestInterceptor.java
  src/test/java/uk/gov/hmcts/darts/authentication/component/SoapRequestInterceptorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-524

#535 DMP-3950 - fix cookie JSessionId issue
  .github/renovate.json
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  docker-compose-local-to-staging.yml
  src/functionalTest/java/uk/gov/hmcts/darts/ContextRegistryPerformanceTest.java
  src/functionalTest/java/uk/gov/hmcts/darts/ContextRegistryTest.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/SoapRequestInterceptor.java
  src/test/java/uk/gov/hmcts/darts/authentication/component/SoapRequestInterceptorTest.java
Labels: ns:darts-modernisation, prd:darts, stg/no-changes, prod/no-changes, rel:darts-gateway-pr-535

#540 DMP-3602: Change to use environment variables
  charts/darts-gateway/Chart.yaml
  charts/darts-gateway/values.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-540
