Repository hmcts/darts-gateway, pull requests merged in 2024-01, with the labels that each got.

#222 dmp 1937 Added error handling
  src/integrationTest/java/uk/gov/hmcts/darts/ws/AddAudioWebServiceTest.java
  src/integrationTest/resources/payloads/addAudio/register/problemResponse.json
  src/integrationTest/resources/payloads/addAudio/register/problemResponse.xml
  src/integrationTest/resources/payloads/addAudio/register/soapRequestEmptyCourthouse.xml
  src/integrationTest/resources/payloads/addAudio/register/soapRequestUnknownCourthouse.xml
  src/main/java/uk/gov/hmcts/darts/addaudio/AddAudioRoute.java
  src/main/java/uk/gov/hmcts/darts/addaudio/validator/AddAudioValidator.java
  src/main/java/uk/gov/hmcts/darts/common/client/exeption/addaudio/AudioAPIAddAudioException.java
  src/main/java/uk/gov/hmcts/darts/common/client/mapper/AudioAPIProblemResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/config/ServiceConfig.java
  src/test/java/uk/gov/hmcts/darts/common/client/mapper/AudioAPIErrorResponseMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-222

#225 Daily list fix
  src/main/java/uk/gov/hmcts/darts/dailylist/DailyListRoute.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-225

#227 DMP-1875-ITHC-Test
  Jenkinsfile_CNP
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-227

#230 dmp-1937 fix null problem
  src/main/java/uk/gov/hmcts/darts/addaudio/validator/AddAudioValidator.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-230

#218 DMP-1987 fix upload memory issue
  src/integrationTest/java/uk/gov/hmcts/darts/utils/matcher/MultipartDartsProxyContentPattern.java
  src/integrationTest/java/uk/gov/hmcts/darts/workflow/AddAudioMtomMidTierWorkflowTest.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/SecurityRequestAttributesWrapper.java
  src/main/java/uk/gov/hmcts/darts/common/client/multipart/StreamingMultipart.java
  src/main/java/uk/gov/hmcts/darts/common/multipart/BodyPartServletInputStream.java
  src/main/java/uk/gov/hmcts/darts/common/multipart/HttpRequestDataSource.java
  src/main/java/uk/gov/hmcts/darts/common/multipart/JavaMailXmlWithFileMultiPartRequest.java
  src/main/java/uk/gov/hmcts/darts/common/multipart/SizeableInputSource.java
  src/main/java/uk/gov/hmcts/darts/config/ServiceConfig.java
  src/main/java/uk/gov/hmcts/darts/ws/DartsMessageDispatcherServlet.java
  src/test/java/uk/gov/hmcts/darts/common/multipart/DefaultMultipartTest.java
  src/test/java/uk/gov/hmcts/darts/common/multipart/JavaMailXmlWithFileMultiPartRequestTest.java
  src/test/resources/tests/multipart/httpmultipartuploadmisformatted.txt
  src/test/resources/tests/multipart/httpmultipartuploadmorethanonebinary.txt
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-218

#239 DMP-2042 Daily list case courtrooms should be string
  src/integrationTest/java/uk/gov/hmcts/darts/utils/DailyListApiStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/EventWebServiceTest.java
  src/integrationTest/resources/payloads/events/dailyList-api-request.json
  src/integrationTest/resources/payloads/events/dailyList-api-request.xml
  src/integrationTest/resources/payloads/events/invalid-dailyList.xml
  src/integrationTest/resources/payloads/events/valid-dailyList.xml
  src/main/java/generated/uk/gov/courtservice/schemas/courtservice/SittingStructure.java
  src/main/java/uk/gov/hmcts/darts/dailylist/DailyListRoute.java
  src/main/resources/schemas/xhibit/CourtService.xsd
  src/test/resources/tests/dailylist/DailyListRequestMapperTest/test1/expectedResponse.json
  src/test/resources/tests/dailylist/DailyListRequestMapperTest/test1/request.xml
  src/test/resources/tests/dailylist/DailyListRequestMapperTest/test2/expectedResponse.json
  src/test/resources/tests/dailylist/DailyListRequestMapperTest/test2/request.xml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-239

#246 DMP-2150 - Fix gateway soap fault on finding a darts error with no problem respo…
  src/integrationTest/java/uk/gov/hmcts/darts/utils/DailyListApiStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/utils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/utils/client/SoapAssertionUtil.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/EventWebServiceTest.java
  src/main/java/uk/gov/hmcts/darts/common/client/exeption/AbstractClientProblemDecoder.java
  src/main/java/uk/gov/hmcts/darts/common/client/mapper/APIProblemResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/common/client/mapper/AbstractAPIProblemResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/common/client/mapper/ProblemResponseMapping.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-246
