Repository hmcts/darts-gateway, pull requests merged in 2024-03, with the labels that each got.

#286 Logging dar pc notifications
  build.gradle
  src/main/java/uk/gov/hmcts/darts/event/client/DarNotifyEventClient.java
  src/main/java/uk/gov/hmcts/darts/event/config/DarNotifyEventConfiguration.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventRequestMapper.java
  src/main/java/uk/gov/hmcts/darts/log/api/LogApi.java
  src/main/java/uk/gov/hmcts/darts/log/api/impl/LogApiImpl.java
  src/main/java/uk/gov/hmcts/darts/log/service/DarNotificationLoggerService.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/DarNotificationLoggerServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/event/client/DarNotifyEventClientTest.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/DarNotificationLoggerServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-286

#288 Removing default url for dar pc prop tidy
  README.md
  charts/darts-gateway/Chart.yaml
  charts/darts-gateway/values.yaml
  docker-compose-local.yml
  docker-compose.yml
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/DarNotifyControllerTest.java
  src/main/java/uk/gov/hmcts/darts/event/client/DarNotifyEventClient.java
  src/main/java/uk/gov/hmcts/darts/event/config/DarNotifyEventConfiguration.java
  src/main/java/uk/gov/hmcts/darts/event/config/DarNotifyEventConfigurationProperties.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DarNotifyEventServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/event/client/DarNotifyEventClientTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-288

#291 DMP-2491: Added request/response logging at trace level
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-291

#293 DMP-2491: Added temporary logging
  src/main/java/uk/gov/hmcts/darts/ws/DartsEndpoint.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-293

#294 DMP-2496: Prioritise Token SOAP header
  src/integrationTest/resources/payloads/soapHeaderSecurityToken.xml
  src/main/java/uk/gov/hmcts/darts/authentication/component/SoapRequestInterceptor.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-294

#300 Support comprehensive service exception output
  src/integrationTest/java/uk/gov/hmcts/darts/utils/AuthenticationAssertion.java
  src/main/java/uk/gov/hmcts/darts/authentication/exception/AuthenticationFailedException.java
  src/main/java/uk/gov/hmcts/darts/authentication/exception/DocumentumUnknownTokenSoapException.java
  src/main/java/uk/gov/hmcts/darts/authentication/exception/NoIdentitiesFoundException.java
  src/main/java/uk/gov/hmcts/darts/common/exceptions/UnknownException.java
  src/main/java/uk/gov/hmcts/darts/common/exceptions/soap/SoapFaultServiceException.java
  src/main/java/uk/gov/hmcts/darts/common/exceptions/soap/UnsupportedIdentitesException.java
  src/main/java/uk/gov/hmcts/darts/common/exceptions/soap/UnsupportedIdentitiesException.java
  src/main/java/uk/gov/hmcts/darts/common/exceptions/soap/documentum/ServiceExceptionType.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-300

#302 Mapping 201 to 200 for event responses
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventRequestMapper.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-302

#295 dmp 2397 removed workaround
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-295

#305 Log the GET WSDL request URL and response code
  src/integrationTest/java/uk/gov/hmcts/darts/utils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/WsdlTest.java
  src/main/java/uk/gov/hmcts/darts/ws/DartsMessageDispatcherServlet.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-305

#308 DMP 2527: remove line breaks daily list
  src/integrationTest/java/uk/gov/hmcts/darts/utils/DailyListApiStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/EventWebServiceTest.java
  src/integrationTest/resources/payloads/events/dailyList-api-request-with-lb-removed.xml
  src/integrationTest/resources/payloads/events/valid-dailyList-with-line-breaks.xml
  src/main/java/uk/gov/hmcts/darts/dailylist/model/PostDailyListRequest.java
  src/test/java/uk/gov/hmcts/darts/dailylist/model/PostDailyListRequestTest.java
  src/test/resources/tests/dailylist/DailyListRequestMapperTest/valid-dailyList-with-line-breaks.xml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-308

#299 dmp 1601 added config
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DarNotifyEventServiceImpl.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-299

#310 Storing HTTP session data in redis
  build.gradle
  charts/darts-gateway/values.dev.template.yaml
  src/integrationTest/resources/application-int-test-documentum-jwt-token-shared.yaml
  src/integrationTest/resources/application-int-test-documentum-jwt-token.yaml
  src/integrationTest/resources/application-int-test-jwt-token-shared.yaml
  src/integrationTest/resources/application-int-test-jwt-token.yaml
  src/integrationTest/resources/application-int-test.yaml
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-gateway-pr-310

#311 Fixing redis namespace used for session
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-gateway-pr-311

#292 Update sonar project name
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-292

#307 DMP-2336 added whitelisting of services with basic authorisation access
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  bin/secrets-stg.sh
  build.gradle
  charts/darts-gateway/Chart.yaml
  charts/darts-gateway/values.dev.template.yaml
  charts/darts-gateway/values.yaml
  docker-compose-local.yml
  docker-compose.yml
  src/integrationTest/java/uk/gov/hmcts/darts/utils/AuthenticationAssertion.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/BasicAuthorisationTest.java
  src/integrationTest/resources/application-int-test-jwt-token-shared.yaml
  src/main/java/uk/gov/hmcts/darts/authentication/component/SoapRequestInterceptor.java
  src/main/java/uk/gov/hmcts/darts/cache/token/config/SecurityProperties.java
  src/main/java/uk/gov/hmcts/darts/cache/token/config/impl/SecurityPropertiesImpl.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-307

#316 DMP-2570 Map documentum service exception to exception type attribute
  src/integrationTest/java/uk/gov/hmcts/darts/utils/AuthenticationAssertion.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/ContextRegistryDocumentumToJwtServiceSharedTokenTest.java
  src/main/java/uk/gov/hmcts/darts/common/exceptions/soap/documentum/ServiceExceptionType.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-316

#319 DMP-2572 CPP daily list fix
  src/integrationTest/java/uk/gov/hmcts/darts/utils/DailyListApiStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/EventWebServiceTest.java
  src/integrationTest/resources/payloads/events/dailyList-CPP-api-request.json
  src/integrationTest/resources/payloads/events/dailyList-api-request.json
  src/main/java/uk/gov/hmcts/darts/dailylist/mapper/DailyListRequestMapper.java
  src/test/resources/tests/dailylist/DailyListRequestMapperTest/test1/expectedResponse.json
  src/test/resources/tests/dailylist/DailyListRequestMapperTest/test2/expectedResponse.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-319

#322 dmp-2607:dynamic-azure-b2c-attributes
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-322

#324 dmp-2610:dynamic-azure-b2c-attributes
  Jenkinsfile_CNP
  charts/darts-gateway/Chart.yaml
  charts/darts-gateway/values.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-324

#325 dmp-2613:dynamic-azure-b2c-attributes
  charts/darts-gateway/Chart.yaml
  charts/darts-gateway/values.yaml
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-325

#335 DMP-2684: Change fallback error message
  README.md
  src/integrationTest/java/uk/gov/hmcts/darts/ws/AddAudioWebServiceTest.java
  src/main/java/uk/gov/hmcts/darts/common/exceptions/UnknownException.java
  src/main/java/uk/gov/hmcts/darts/common/exceptions/soap/FaultErrorCodes.java
  src/main/java/uk/gov/hmcts/darts/common/exceptions/soap/UnsupportedIdentitiesException.java
  src/main/java/uk/gov/hmcts/darts/courtlogs/GetCourtLogsMapper.java
  src/main/resources/SoapExceptionMessages.properties
  src/test/java/uk/gov/hmcts/darts/utilities/assertions/CourtLogAssert.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-335

#330 DMP-2644 - change register endpoint to pick up security credentials f…
  src/integrationTest/java/uk/gov/hmcts/darts/utils/AuthenticationAssertion.java
  src/integrationTest/java/uk/gov/hmcts/darts/utils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/AddAudioWebServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/BasicAuthorisationTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/CasesWebServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/ContextRegistryDocumentumToJwtServiceSharedTokenTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/ContextRegistryDocumentumToJwtServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/ContextRegistryJwtServiceSharedTokenTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/ContextRegistryJwtServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/ContextRegistryParent.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/CourtLogsWebServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/EventWebServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/RegisterNodeWebServiceTest.java
  src/integrationTest/resources/payloads/ctxtRegistry/register/soapRequestNoIdentities.xml
  src/main/java/uk/gov/hmcts/darts/authentication/component/SoapBodyConverter.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/SoapRequestInterceptor.java
  src/main/java/uk/gov/hmcts/darts/cache/token/service/AbstractTokenCache.java
  src/main/java/uk/gov/hmcts/darts/cache/token/service/Token.java
  src/main/java/uk/gov/hmcts/darts/cache/token/service/TokenRegisterable.java
  src/main/java/uk/gov/hmcts/darts/cache/token/service/value/impl/RefeshableTokenCacheValue.java
  src/main/java/uk/gov/hmcts/darts/utilities/NodeUtil.java
  src/test/java/uk/gov/hmcts/darts/cache/token/TokenTest.java
  src/test/java/uk/gov/hmcts/darts/utilities/NodeUtilTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-330
