Repository hmcts/darts-gateway, pull requests merged in 2024-11, with the labels that each got.

#599 Nojira improvements for kt
  README.md
  docker-compose-local-to-staging.yml
  docker-compose-local.yml
  docs/cache_class_diagram.puml
  docs/proxy_with_downstream_token.puml
  docs/token_allocation.puml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-599

#549 DMP-3001: Support logging of feign layer as well as problem responses (even if …
  README.md
  docker-compose-local-to-staging.yml
  docker-compose-local.yml
  docs/cache_class_diagram.puml
  docs/proxy_with_downstream_token.puml
  docs/token_allocation.puml
  src/integrationTest/java/uk/gov/hmcts/darts/conf/RedisConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/MtomAddAudioLauncher.java
  src/integrationTest/java/uk/gov/hmcts/darts/workflow/AddAudioMtomMidTierWorkflowTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/workflow/command/AddAudioMidTierCommand.java
  src/integrationTest/java/uk/gov/hmcts/darts/workflow/command/Command.java
  src/integrationTest/java/uk/gov/hmcts/darts/workflow/command/CommandFactory.java
  src/integrationTest/java/uk/gov/hmcts/darts/workflow/command/DeployRedisCommand.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/AddAudioWebServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/CasesWebServiceTest.java
  src/integrationTest/resources/addaudio/addAudio.jar
  src/integrationTest/resources/addaudio/addaudio.sh
  src/integrationTest/resources/addaudio/connection.properties
  src/main/java/uk/gov/hmcts/darts/common/client/AbstractRestTemplateClient.java
  src/main/java/uk/gov/hmcts/darts/common/client/exeption/AbstractClientProblemDecoder.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-gateway-pr-549

#611 DMP-2402: Upload audio to azure directly from DARTS gateway
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  bin/secrets-stg-environment.sh
  build.gradle
  charts/darts-gateway/Chart.yaml
  charts/darts-gateway/values.yaml
  docker-compose-local.yml
  src/functionalTest/java/uk/gov/hmcts/darts/common/client/FunctionalTestClient.java
  src/integrationTest/java/uk/gov/hmcts/darts/workflow/AddAudioMtomMidTierWorkflowTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/AddAudioWebServiceTest.java
  src/integrationTest/resources/application-int-test-jwt-token-error-log-level.yaml
  src/main/java/uk/gov/hmcts/darts/addaudio/AddAudioRoute.java
  src/main/java/uk/gov/hmcts/darts/common/client/AbstractRestTemplateClient.java
  src/main/java/uk/gov/hmcts/darts/common/client/AudiosClient.java
  src/main/java/uk/gov/hmcts/darts/datastore/DataManagementConfiguration.java
  src/main/java/uk/gov/hmcts/darts/datastore/DataManagementService.java
  src/main/java/uk/gov/hmcts/darts/datastore/DataManagementServiceImpl.java
  src/main/java/uk/gov/hmcts/darts/datastore/azure/DataManagementAzureClientFactory.java
  src/main/java/uk/gov/hmcts/darts/datastore/azure/DataManagementAzureClientFactoryImpl.java
  src/main/java/uk/gov/hmcts/darts/test/TestSupportController.java
  src/main/java/uk/gov/hmcts/darts/utilities/DataUtil.java
  src/main/java/uk/gov/hmcts/darts/utilities/FileContentChecksum.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/datastore/DataManagementServiceImplTest.java
  src/test/java/uk/gov/hmcts/darts/datastore/azure/DataManagementAzureClientFactoryImplTest.java
  src/test/java/uk/gov/hmcts/darts/utilities/DataUtilTest.java
  src/test/java/uk/gov/hmcts/darts/utilities/FileContentChecksumTest.java
  src/testCommon/java/uk.gov.hmcts.darts.common.utils/client/AbstractSoapTestClient.java
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-gateway-pr-611

#612 update postman collection
  DARTS-Gateway.postman_collection.json
  README-ContextRegistryService-postman-project.json
  README-DARTSService-postman-project.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-612

#617 DMP-2402: Upload audio to azure directly from DARTS Proxy
  src/main/java/uk/gov/hmcts/darts/addaudio/AddAudioRoute.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-617

#619 DMP-4031: Capture DAR PC time in Notify response
  src/integrationTest/java/uk/gov/hmcts/darts/common/GetWelcomeTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/conf/ServiceTestConfiguration.java
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/DarNotifyControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stub/DarPcStub.java
  src/main/java/uk/gov/hmcts/darts/addaudio/AddAudioRoute.java
  src/main/java/uk/gov/hmcts/darts/cases/impl/CasesRouteImpl.java
  src/main/java/uk/gov/hmcts/darts/config/ServiceConfig.java
  src/main/java/uk/gov/hmcts/darts/courtlogs/AddCourtLogsRoute.java
  src/main/java/uk/gov/hmcts/darts/dailylist/DailyListRoute.java
  src/main/java/uk/gov/hmcts/darts/event/client/DarNotifyEventClient.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventRoute.java
  src/main/java/uk/gov/hmcts/darts/noderegistration/RegisterNodeRoute.java
  src/main/java/uk/gov/hmcts/darts/utilities/XmlParser.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/dailylist/mapper/DailyListRequestMapperTest.java
  src/test/java/uk/gov/hmcts/darts/dailylist/mapper/DailyListXmlRequestMapperTest.java
  src/test/java/uk/gov/hmcts/darts/document/XmlParserTest.java
  src/test/java/uk/gov/hmcts/darts/event/client/DarNotifyEventClientTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-619
