Repository hmcts/darts-gateway, pull requests merged in 2024-02, with the labels that each got.

#249 DMP-1876-Test-Env
  Jenkinsfile_CNP
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-249

#252 DMP-2163 Adding "event_id" to the event DARTS API POST request
  src/integrationTest/java/uk/gov/hmcts/darts/utils/EventApiStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/EventWebServiceTest.java
  src/integrationTest/resources/payloads/events/valid-event-api-request.json
  src/integrationTest/resources/payloads/events/valid-event.xml
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventRequestMapper.java
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventRequestMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-252

#257 DMP-2219: On an invalid MTOM being received we now no longer return a restful response
  src/integrationTest/java/uk/gov/hmcts/darts/workflow/AddAudioMtomMidTierWorkflowTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/AddAudioWebServiceTest.java
  src/integrationTest/resources/payloads/addAudio/register/soapRequestMTOMErrorNoXMLBody.txt
  src/integrationTest/resources/payloads/addAudio/register/soapRequestMTOMFailureBadRequestNoXMLContent.txt
  src/integrationTest/resources/payloads/addAudio/register/soapRequestMTOMFailureBadRequestNoXMLPart.txt
  src/main/java/uk/gov/hmcts/darts/common/multipart/JavaMailXmlWithFileMultiPartRequest.java
  src/test/java/uk/gov/hmcts/darts/common/multipart/JavaMailXmlWithFileMultiPartRequestTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-257

#264 DMP-2326: Correct error codes
  src/integrationTest/java/uk/gov/hmcts/darts/ws/EventWebServiceTest.java
  src/integrationTest/resources/payloads/addCase/problemResponse.json
  src/integrationTest/resources/payloads/courtlogs/problemResponse.json
  src/integrationTest/resources/payloads/events/problemDailyListResponse.json
  src/integrationTest/resources/payloads/getCases/problemResponse.json
  src/main/java/uk/gov/hmcts/darts/common/client/exeption/addaudio/AudioAPIAddAudioException.java
  src/main/java/uk/gov/hmcts/darts/common/client/exeption/cases/CasesAPIGetCasesException.java
  src/main/java/uk/gov/hmcts/darts/common/client/exeption/cases/CasesAPIPostCaseException.java
  src/main/java/uk/gov/hmcts/darts/common/client/mapper/AudioAPIProblemResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/common/client/mapper/CaseAPIProblemResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/common/client/mapper/CommonApiProblemResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/common/client/mapper/DailyListAPIProblemResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/common/client/mapper/EventAPIProblemResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/config/ServiceConfig.java
  src/test/java/uk/gov/hmcts/darts/common/client/mapper/APIResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/common/client/mapper/CaseAPIErrorResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/common/client/mapper/CommonAPIErrorResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/common/client/mapper/DailyListAPIErrorResponseMapperTest.java
  src/test/java/uk/gov/hmcts/darts/common/client/mapper/EventAPIErrorResponseMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-264

#275 Dmp 2373 - user configuration mapping layer for authentication
  src/main/java/uk/gov/hmcts/darts/common/exceptions/DartsSoapFaultDefinitionExceptionResolver.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-275

#274 DMP-2232 New Azure scope
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-274

#281 DMP-2232 Updated resources with AAD_B2C_CLIENT_ID_KEY
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  bin/secrets-stg.sh
  charts/darts-gateway/Chart.yaml
  charts/darts-gateway/values.dev.template.yaml
  charts/darts-gateway/values.yaml
  docker-compose-local.yml
  docker-compose.yml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-281

#284 Fix appinsights config
  charts/darts-gateway/Chart.yaml
  charts/darts-gateway/values.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-284
