Repository hmcts/darts-gateway, pull requests merged in 2024-04, with the labels that each got.

#341 DMP-2644 - enable disabled tests
  src/integrationTest/java/uk/gov/hmcts/darts/ws/ContextRegistryJwtServiceSharedTokenTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/ContextRegistryJwtServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/ContextRegistryParent.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/SoapRequestInterceptor.java
  src/main/java/uk/gov/hmcts/darts/cache/token/service/AbstractTokenCache.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-341

#345 Remove message args
  src/main/java/uk/gov/hmcts/darts/common/exceptions/soap/documentum/ServiceExceptionType.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-345

#346 Fix bug in staging where context is not being returned.
  src/main/java/uk/gov/hmcts/darts/common/client/AuditClient.java
  src/main/java/uk/gov/hmcts/darts/utilities/NodeUtil.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-346

#347 DMP-2609: Sending message id on daily lists
  src/integrationTest/java/uk/gov/hmcts/darts/utils/DailyListApiStub.java
  src/integrationTest/resources/payloads/events/valid-dailyList-with-line-breaks.xml
  src/main/java/uk/gov/hmcts/darts/dailylist/DailyListRoute.java
  src/main/java/uk/gov/hmcts/darts/routing/EventRoutingService.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-347

#355 fix date parsing issue seen in model court.
  src/integrationTest/resources/payloads/getCases/soapRequest.xml
  src/main/java/uk/gov/hmcts/darts/cases/impl/CasesRouteImpl.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/GetCasesMapper.java
  src/main/java/uk/gov/hmcts/darts/utilities/DateUtil.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-355

#356 fix getCases message and code
  src/integrationTest/resources/payloads/getCases/expectedResponse.xml
  src/main/java/uk/gov/hmcts/darts/cases/mapper/GetCasesMapper.java
  src/main/java/uk/gov/hmcts/darts/utilities/DartsResponseUtil.java
  src/test/resources/tests/cases/GetCasesMapperTest/mapOk/expectedResponse.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-356

#357 fix getCases Response - remove case attributes.
  src/integrationTest/resources/payloads/getCases/expectedResponse.xml
  src/main/java/uk/gov/hmcts/darts/cases/impl/CasesRouteImpl.java
  src/main/java/uk/gov/hmcts/darts/cases/mapper/GetCasesMapper.java
  src/test/java/uk/gov/hmcts/darts/cases/mapper/GetCasesMapperTest.java
  src/test/resources/tests/cases/GetCasesMapperTest/mapOk/expectedResponse.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-357

#363 Fix eventTimes as they are an hour out.
  src/integrationTest/resources/payloads/events/valid-event-api-request.json
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventRequestMapper.java
  src/main/java/uk/gov/hmcts/darts/utilities/DateUtil.java
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventRequestMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-363

#365 DMP-2869 - change to add case to not create a hearing
  src/main/java/uk/gov/hmcts/darts/cases/mapper/AddCaseMapper.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-365

#371 DMP-2902 - remove security header from DAR PC notification
  bin/secrets-stg.sh
  charts/darts-gateway/Chart.yaml
  charts/darts-gateway/values.dev.template.yaml
  charts/darts-gateway/values.yaml
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/DarNotifyControllerTest.java
  src/main/java/uk/gov/hmcts/darts/event/config/DarNotifyEventConfiguration.java
  src/main/java/uk/gov/hmcts/darts/event/config/DarNotifyEventConfigurationProperties.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-371

#359 additions to DMP-2712
  src/integrationTest/java/uk/gov/hmcts/darts/workflow/AddAudioMtomMidTierWorkflowTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/ContextRegistryJwtServiceSharedTokenTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/ContextRegistryJwtServiceTest.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/ContextRegistryPayload.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/SoapRequestInterceptor.java
  src/main/java/uk/gov/hmcts/darts/cache/token/enums/TokenStatus.java
  src/main/java/uk/gov/hmcts/darts/cache/token/model/TokenWithStatus.java
  src/main/java/uk/gov/hmcts/darts/cache/token/service/AbstractTokenCache.java
  src/main/java/uk/gov/hmcts/darts/cache/token/service/CacheLockableUnitOfWork.java
  src/main/java/uk/gov/hmcts/darts/cache/token/service/Token.java
  src/main/java/uk/gov/hmcts/darts/cache/token/service/impl/TokenDocumentumIdToJwtCache.java
  src/main/java/uk/gov/hmcts/darts/cache/token/service/impl/TokenJwtCache.java
  src/main/java/uk/gov/hmcts/darts/cache/token/service/value/CacheValue.java
  src/main/java/uk/gov/hmcts/darts/cache/token/service/value/DownstreamTokenisableValue.java
  src/main/java/uk/gov/hmcts/darts/cache/token/service/value/impl/RefeshableTokenCacheValue.java
  src/main/java/uk/gov/hmcts/darts/cache/token/service/value/impl/ServiceContextCacheValue.java
  src/main/java/uk/gov/hmcts/darts/config/CacheConfig.java
  src/main/java/uk/gov/hmcts/darts/ws/ContextRegistryEndpoint.java
  src/test/java/uk/gov/hmcts/darts/cache/token/BasicCacheTest.java
  src/test/java/uk/gov/hmcts/darts/cache/token/TokenTest.java
  src/test/java/uk/gov/hmcts/darts/cache/token/service/value/impl/RefreshableTokenCacheValueTest.java
  src/test/java/uk/gov/hmcts/darts/cache/token/service/value/impl/ServiceContextCacheValueTest.java
Labels: ns:darts-modernisation, prd:darts, stg/no-changes, rel:darts-gateway-pr-359

#375 DMP-2938: Adding logging of SOAP message for testing
  src/main/java/uk/gov/hmcts/darts/event/client/DarNotifyEventClient.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-375

#376 Minor improvements to DAR notify response logs
  src/main/java/uk/gov/hmcts/darts/event/client/DarNotifyEventClient.java
  src/main/java/uk/gov/hmcts/darts/log/api/LogApi.java
  src/main/java/uk/gov/hmcts/darts/log/api/impl/LogApiImpl.java
  src/main/java/uk/gov/hmcts/darts/log/service/DarNotificationLoggerService.java
  src/main/java/uk/gov/hmcts/darts/log/service/impl/DarNotificationLoggerServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/DarNotificationLoggerServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-376

#383 DMP-2948: Encoding Event element as escaped string
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/DarNotifyControllerTest.java
  src/main/java/uk/gov/hmcts/darts/event/client/DarNotifyEventClient.java
  src/main/java/uk/gov/hmcts/darts/event/config/DarNotifyEventConfiguration.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DarNotifyEventServiceImpl.java
  src/main/resources/schemas/dar-notify-event.xsd
  src/main/resources/schemas/internal-dar-notify-event.xsd
  src/test/java/uk/gov/hmcts/darts/event/client/DarNotifyEventClientTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-383

#387 fix case of 'Event' in the DAR PC notification request
  src/integrationTest/java/uk/gov/hmcts/darts/event/controller/DarNotifyControllerTest.java
  src/main/resources/schemas/internal-dar-notify-event.xsd
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-387

#386 DMP-489 Reduce health endpoint sampling in appinsights
  lib/applicationinsights.json
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-386

#390 fix response for addLogEntry as should return a 200 for a success, no…
  src/integrationTest/java/uk/gov/hmcts/darts/utils/PostCourtLogsApiStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/CourtLogsWebServiceTest.java
  src/main/java/uk/gov/hmcts/darts/courtlogs/AddCourtLogsRoute.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventRequestMapper.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventRoute.java
  src/main/java/uk/gov/hmcts/darts/utilities/MapperUtility.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-390

#393 DMP-2948: Tidying after pushing through fix
  build.gradle
  src/main/java/uk/gov/hmcts/darts/event/config/DarNotifyEventConfiguration.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/DarNotifyEventServiceImpl.java
  src/main/resources/schemas/dar-notify-event.xsd
  src/main/resources/schemas/event.xsd
  src/test/java/uk/gov/hmcts/darts/event/client/DarNotifyEventClientTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-393
