Repository hmcts/darts-gateway, pull requests merged in 2024-07, with the labels that each got.

#461 DMP-3357: Helm chart changes to support functional testing
  charts/darts-gateway/Chart.yaml
  charts/darts-gateway/values.dev.template.yaml
  charts/darts-gateway/values.stg.template.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-461

#460 Fixing redis image for test containers and re-enabling tests
  src/integrationTest/java/uk/gov/hmcts/darts/test/TestSupportControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/workflow/AddAudioMtomMidTierWorkflowTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/workflow/command/DeployRedisCommand.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/AddAudioWebServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/BasicAuthorisationTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/CasesWebServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/ContextRegistryDocumentumToJwtServiceSharedTokenTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/ContextRegistryDocumentumToJwtServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/ContextRegistryJwtServiceSharedTokenTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/ContextRegistryJwtServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/CourtLogsWebServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/EventWebServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/RegisterNodeWebServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/WsdlTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-460

#462 DMP-3506 Correct log message
  src/main/java/uk/gov/hmcts/darts/event/client/DarNotifyEventClient.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-462

#465 dmp-3356: increase Cache expiry time
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-465

#464 DMP-1557 Upgrade Java version to 21
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/swagger.yml
  Dockerfile
  README.md
  build.gradle
  context/build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-464

#469 DMP-1557 Configured Toolchain Download Repositories to allow automati…
  settings.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-469

#466 Dmp 3256.add allowed media extensions
  src/integrationTest/resources/application-int-test.yaml
  src/main/java/uk/gov/hmcts/darts/addaudio/validator/AddAudioFileValidator.java
  src/main/java/uk/gov/hmcts/darts/config/AllowedMediaConfig.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-466

#475 Fix sonar qube
  src/main/java/uk/gov/hmcts/darts/cache/token/component/impl/OauthTokenGenerator.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-475

#484 DMP-3603-async-logging
  src/main/resources/application.yaml
  src/main/resources/logback-spring.xml
Labels: ns:darts-modernisation, prd:darts, enable_keep_helm, rel:darts-gateway-pr-484

#487 DMP-3603: Fixing logback filename
  src/main/resources/logback.xml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-487

#488 DMP-3710 Fix logs containing dateTimes with zero seconds for Dynatrace
  src/main/java/uk/gov/hmcts/darts/log/service/impl/DarNotificationLoggerServiceImpl.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/DarNotificationLoggerServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-488
