Repository hmcts/darts-gateway, pull requests merged in 2024-06, with the labels that each got.

#428 Amending token idle time to 4 hours, to match token expiry
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-428

#430 DMP-3012 Setting audio metadata start/end time to use a 0 offset
  src/main/java/uk/gov/hmcts/darts/common/util/DateConverters.java
  src/test/java/uk/gov/hmcts/darts/common/util/DateConvertersTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-430

#431 DMP-3209 - repoint dailylist route to v1 endpoint
  src/integrationTest/java/uk/gov/hmcts/darts/utils/DailyListApiStub.java
  src/main/java/uk/gov/hmcts/darts/dailylist/DailyListRoute.java
  src/test/resources/tests/dailylist/DailyListRequestMapperTest/test1/expectedResponse.json
  src/test/resources/tests/dailylist/DailyListRequestMapperTest/test1/request.xml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-431

#432 DMP-3249 Map retention policy XML to DARTS Event sent to DARTS API
  src/integrationTest/java/uk/gov/hmcts/darts/utils/EventApiStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/EventWebServiceTest.java
  src/integrationTest/resources/application-int-test-documentum-jwt-token-shared.yaml
  src/integrationTest/resources/application-int-test-documentum-jwt-token.yaml
  src/integrationTest/resources/application-int-test-jwt-token-shared.yaml
  src/integrationTest/resources/application-int-test-jwt-token.yaml
  src/integrationTest/resources/application-int-test.yaml
  src/integrationTest/resources/payloads/events/valid-event-api-with-retention-request.json
  src/integrationTest/resources/payloads/events/valid-event-with-retention.xml
  src/main/java/uk/gov/courtservice/events/DartsEvent.java
  src/main/java/uk/gov/hmcts/darts/event/service/impl/EventRequestMapper.java
  src/test/java/uk/gov/hmcts/darts/event/service/impl/EventRequestMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-432

#436 DMP-3321 Update start date mapping for Daily List
  src/main/java/uk/gov/hmcts/darts/dailylist/mapper/DailyListXmlRequestMapper.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-436

#439 Renovate/org.owasp.dependencycheck 9.x
  README.md
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-439

#440 Renovate/com.nimbusds nimbus jose jwt 9.x
  README.md
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-440

#444 Update dependency org.apache.tomcat.embed:tomcat-embed-el to v10.1.24
  README.md
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-444
