Repository hmcts/darts-gateway, pull requests merged in 2024-05, with the labels that each got.

#396 DMP-3011 Pre-validate audio
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/workflow/command/AddAudioMidTierCommand.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/AddAudioWebServiceTest.java
  src/integrationTest/resources/addaudio/badsignature.mp2
  src/integrationTest/resources/application-int-test.yaml
  src/integrationTest/resources/payloads/addAudio/register/problemResponse500.json
  src/integrationTest/resources/payloads/addAudio/register/soapRequestDurationExceeded.xml
  src/integrationTest/resources/payloads/addAudio/register/soapRequestInvalidExtension.xml
  src/main/java/uk/gov/hmcts/darts/addaudio/AddAudioRoute.java
  src/main/java/uk/gov/hmcts/darts/addaudio/validator/AddAudioFileValidator.java
  src/main/java/uk/gov/hmcts/darts/addaudio/validator/AddAudioValidator.java
  src/main/java/uk/gov/hmcts/darts/common/util/Validator.java
  src/main/java/uk/gov/hmcts/darts/config/AllowedMediaConfig.java
  src/main/java/uk/gov/hmcts/darts/utilities/MapperUtility.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-396

#406 DMP-2183 throw exception when register invoked with null service con…
  src/integrationTest/java/uk/gov/hmcts/darts/utils/AuthenticationAssertion.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/ContextRegistryDocumentumToJwtServiceSharedTokenTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/ContextRegistryDocumentumToJwtServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/ContextRegistryJwtServiceSharedTokenTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/ContextRegistryJwtServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/ContextRegistryParent.java
  src/integrationTest/resources/payloads/ctxtRegistry/register/soapRequestNoServiceContext.xml
  src/main/java/uk/gov/hmcts/darts/authentication/exception/RegisterNullServiceContextException.java
  src/main/java/uk/gov/hmcts/darts/common/exceptions/soap/FaultErrorCodes.java
  src/main/java/uk/gov/hmcts/darts/ws/ContextRegistryEndpoint.java
  src/main/resources/SoapExceptionMessages.properties
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-406

#407 DMP-3011 Fixed AC1
  src/main/java/uk/gov/hmcts/darts/addaudio/validator/AddAudioValidator.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-407

#410 Setting HTTP session timeout to 4 hours 5 minutes
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-410

#413 Renovate/logback upgrade
  build.gradle
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-413

#415 DMP-2973 - Handle a Problem without a Type.
  src/main/java/uk/gov/hmcts/darts/common/client/mapper/ProblemResponseMapping.java
  src/test/java/uk/gov/hmcts/darts/common/client/mapper/APIResponseMapperTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-415

#418 DMP-3086 - Change DailyList mapper to use timestamp as published time
  src/integrationTest/java/uk/gov/hmcts/darts/utils/DailyListApiStub.java
  src/main/java/uk/gov/hmcts/darts/dailylist/mapper/DailyListXmlRequestMapper.java
  src/test/resources/tests/dailylist/DailyListXmlRequestMapperTest/publishedDateGmtWithTimeZone.xml
  src/test/resources/tests/dailylist/DailyListXmlRequestMapperTest/publishedDateGmtWithoutTimeZone.xml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-418

#423 DMP-3209 - change Daily List to use requestBody
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/utils/DailyListApiStub.java
  src/integrationTest/resources/payloads/events/dailyList-CPP-api-patch-request.json
  src/integrationTest/resources/payloads/events/dailyList-CPP-api-request.json
  src/integrationTest/resources/payloads/events/dailyList-api-patch-request.json
  src/integrationTest/resources/payloads/events/dailyList-api-post-request.json
  src/integrationTest/resources/payloads/events/dailyList-api-request-with-lb-removed.json
  src/integrationTest/resources/payloads/events/dailyList-api-request-with-lb-removed.xml
  src/integrationTest/resources/payloads/events/dailyList-api-request.json
  src/integrationTest/resources/payloads/events/dailyList-api-request.xml
  src/main/java/uk/gov/hmcts/darts/dailylist/DailyListRoute.java
  src/main/java/uk/gov/hmcts/darts/dailylist/mapper/DailyListXmlRequestMapper.java
  src/main/java/uk/gov/hmcts/darts/dailylist/model/PostDailyListRequest.java
  src/test/java/uk/gov/hmcts/darts/dailylist/mapper/DailyListXmlRequestMapperTest.java
  src/test/java/uk/gov/hmcts/darts/dailylist/model/PostDailyListRequestTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-423
