Repository hmcts/darts-gateway, pull requests merged in 2025-02, with the labels that each got.

#668 DMP-4673: Audio failed to link to case log entry for Dynatrace
  src/main/java/uk/gov/hmcts/darts/addaudio/AddAudioRoute.java
  src/main/java/uk/gov/hmcts/darts/common/client/AudiosClient.java
  src/main/java/uk/gov/hmcts/darts/config/DartsPayloadValidatingInterceptor.java
  src/main/java/uk/gov/hmcts/darts/log/api/LogApi.java
  src/main/java/uk/gov/hmcts/darts/log/api/impl/LogApiImpl.java
  src/test/java/uk/gov/hmcts/darts/addaudio/AddAudioRouteTest.java
  src/test/java/uk/gov/hmcts/darts/common/client/AudiosClientTest.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/LogApiImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-668

#673 DMP-4031 Use env variable for DAR PC max drift time
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-673

#675 Temp change to force checksum failure on upload
  src/main/java/uk/gov/hmcts/darts/addaudio/AddAudioRoute.java
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-675

#674 DMP-4688: Add Audio errors from DARTS API should be mapped to the correct response format in Gateway
  src/integrationTest/java/uk/gov/hmcts/darts/ws/AddAudioWebServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/CasesWebServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/CourtLogsWebServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/EventWebServiceTest.java
  src/integrationTest/resources/payloads/addAudio/register/courtHouseNotFoundResponse.xml
  src/integrationTest/resources/payloads/addAudio/register/dartsExceptionResponse.xml
  src/integrationTest/resources/payloads/addAudio/register/dartsValidationExceptionAudioTooLargeResponse.xml
  src/integrationTest/resources/payloads/addAudio/register/dartsValidationExceptionInvalidXmlDocumentResponse.xml
  src/integrationTest/resources/payloads/addAudio/register/dartsValidationExceptionResponse.xml
  src/integrationTest/resources/payloads/addAudio/register/problemResponse.xml
  src/integrationTest/resources/payloads/courtlogs/courthouseNotFoundResponse.xml
  src/integrationTest/resources/payloads/courtlogs/dartsExceptionInvalidXmlResponse.xml
  src/integrationTest/resources/payloads/events/dartsExceptionResponse.xml
  src/integrationTest/resources/payloads/events/invalidPayloadResponse.xml
  src/integrationTest/resources/payloads/getCases/courtHouseNotFoundResponse.xml
  src/integrationTest/resources/payloads/getCases/dartsExceptionResponse.xml
  src/main/java/uk/gov/hmcts/darts/common/client/exeption/AbstractClientProblemDecoder.java
  src/main/java/uk/gov/hmcts/darts/common/client/exeption/event/EventAPIGetCourtLogExeption.java
  src/main/java/uk/gov/hmcts/darts/common/client/exeption/event/EventAPIPostCourtLogException.java
  src/main/java/uk/gov/hmcts/darts/common/client/exeption/event/EventAPIPostEventException.java
  src/main/java/uk/gov/hmcts/darts/common/client/mapper/APIProblemResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/common/client/mapper/AbstractAPIProblemResponseMapper.java
  src/main/java/uk/gov/hmcts/darts/common/exceptions/DartsException.java
  src/main/java/uk/gov/hmcts/darts/common/exceptions/DartsSoapFaultDefinitionExceptionResolver.java
  src/main/java/uk/gov/hmcts/darts/common/exceptions/soap/documentum/ServiceExceptionType.java
  src/main/java/uk/gov/hmcts/darts/ws/DartsEndpoint.java
  src/main/java/uk/gov/hmcts/darts/ws/DartsEndpointHandler.java
  src/test/java/uk/gov/hmcts/darts/ws/DartsEndpointHandlerTest.java
  src/testCommon/java/uk.gov.hmcts.darts.common.utils/client/AbstractSoapTestClient.java
  src/testCommon/java/uk.gov.hmcts.darts.common.utils/client/SoapAssertionUtil.java
  src/testCommon/java/uk.gov.hmcts.darts.common.utils/client/darts/DartsGatewayClient.java
  src/testCommon/java/uk.gov.hmcts.darts.common.utils/client/darts/DartsGatewayMtomClient.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-674

#679 Fixed logging message
  src/main/java/uk/gov/hmcts/darts/log/api/impl/LogApiImpl.java
  src/test/java/uk/gov/hmcts/darts/log/service/impl/LogApiImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-679

#685 DMP-4689: Delete from Blob Store on addAudio failure from Gateway
  src/main/java/uk/gov/hmcts/darts/addaudio/AddAudioRoute.java
  src/main/java/uk/gov/hmcts/darts/addaudio/validator/AddAudioValidator.java
  src/main/java/uk/gov/hmcts/darts/common/client/AudiosClient.java
  src/main/java/uk/gov/hmcts/darts/datastore/DataManagementConfiguration.java
  src/main/java/uk/gov/hmcts/darts/datastore/DataManagementService.java
  src/main/java/uk/gov/hmcts/darts/datastore/DataManagementServiceImpl.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/addaudio/AddAudioRouteTest.java
  src/test/java/uk/gov/hmcts/darts/datastore/DataManagementServiceImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-685

#691 DMP-4808: Improve add audio file validation logging
  src/main/java/uk/gov/hmcts/darts/addaudio/validator/AddAudioFileValidator.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-691

#692 Add the same message to excluded log so that it can be easily found in appinsights
  src/integrationTest/java/uk/gov/hmcts/darts/ws/EventWebServiceTest.java
  src/main/java/uk/gov/hmcts/darts/authentication/component/SoapRequestInterceptor.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-692

#701 DMP-4772: log entry is not created to identify an issue adding the audio file size exceeds
  src/integrationTest/java/uk/gov/hmcts/darts/ws/AddAudioWebServiceTest.java
  src/main/java/uk/gov/hmcts/darts/addaudio/AddAudioRoute.java
  src/main/java/uk/gov/hmcts/darts/addaudio/validator/AddAudioValidator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/darts/addaudio/validator/AddAudioValidatorTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-701

#705 Using the williamyeh/java8 image from ACR
  src/integrationTest/java/uk/gov/hmcts/darts/workflow/command/AddAudioMidTierCommand.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-705

#703 Updating helm charts
  charts/darts-gateway/Chart.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-703
