Repository hmcts/darts-gateway, pull requests merged in 2025-03, with the labels that each got.

#710 DMP-4793: Darts-gateway - DarPcTimeLogInterceptor can give a null pointer exception
  src/main/java/uk/gov/hmcts/darts/event/client/DarNotifyEventClient.java
  src/test/java/uk/gov/hmcts/darts/event/client/DarNotifyEventClientTest.java
  src/test/java/uk/gov/hmcts/darts/utilities/TestUtils.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-710

#717 Fixing use of `darts-gateway.security.sign-in-policy` in app config
  src/main/resources/application.yaml
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-717

#716 DMP-4752 DMP-4753: Handle NEWCASE event type
  .idea/codeStyles/Project.xml
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/IntegrationBase.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stub/AddCasesApiStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/testutils/stub/PostCasesApiStub.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/CasesWebServiceTest.java
  src/integrationTest/java/uk/gov/hmcts/darts/ws/EventWebServiceTest.java
  src/integrationTest/resources/payloads/addCase/problemResponse.json
  src/integrationTest/resources/payloads/events/valid-case-api.json
  src/integrationTest/resources/payloads/events/valid-newCaseMessage.xml
  src/integrationTest/resources/payloads/events/valid-updateCaseMessage.xml
  src/main/java/uk/gov/hmcts/darts/cases/CaseInfoRoute.java
  src/main/java/uk/gov/hmcts/darts/cases/impl/CaseInfoRouteImpl.java
  src/main/java/uk/gov/hmcts/darts/cases/impl/CasesRouteImpl.java
  src/main/java/uk/gov/hmcts/darts/routing/EventRoutingService.java
  src/main/java/uk/gov/hmcts/darts/utilities/DataUtil.java
  src/main/java/uk/gov/hmcts/darts/ws/DartsEndpointHandler.java
  src/main/resources/application.yaml
  src/main/resources/schemas/xhibit/AddressTypes.xsd
  src/main/resources/schemas/xhibit/BS7666.xsd
  src/main/resources/schemas/xhibit/CaseInfo.xsd
  src/main/resources/schemas/xhibit/CitizenIdentificationTypes.xsd
  src/main/resources/schemas/xhibit/CommonSimpleTypes.xsd
  src/main/resources/schemas/xhibit/ContactTypes.xsd
  src/main/resources/schemas/xhibit/CourtService.xsd
  src/main/resources/schemas/xhibit/PersonalDetailsTypes.xsd
  src/main/resources/schemas/xhibit/apd.xsd
  src/test/java/uk/gov/hmcts/darts/cases/impl/CaseInfoRouteImplTest.java
  src/test/java/uk/gov/hmcts/darts/routing/EventRoutingServiceTest.java
  src/test/java/uk/gov/hmcts/darts/utilities/DataUtilTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-716

#720 DMP-4752 DMP-4753 NEWCASE/UPDCASE should set defendants, not defenders
  src/integrationTest/resources/payloads/events/valid-case-api.json
  src/main/java/uk/gov/hmcts/darts/cases/impl/CaseInfoRouteImpl.java
  src/test/java/uk/gov/hmcts/darts/cases/impl/CaseInfoRouteImplTest.java
Labels: ns:darts-modernisation, prd:darts, rel:darts-gateway-pr-720
